---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/Base";
import ListPosts from "@/components/ListPosts";
import { getUniqueTags } from "@/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const uniqueTags = getUniqueTags(posts);

  return uniqueTags.flatMap((tag) => {
    const filterPosts = posts.filter((post) => post.data.tags.includes(tag));

    return {
      params: { tag },
      props: { entry: filterPosts },
    };
  });
}

const { tag } = Astro.params;
const { entry } = Astro.props;
---

<BaseLayout title={`Posts by tag: ${tag}`}>
  <section>
    <h1>Filtered by tag: <span class="font-bold">{tag}</span></h1>
    <ListPosts posts={entry} />
  </section>
</BaseLayout>
