---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/Base";
import Header from "@/components/Header";
import ListPosts from "@/components/ListPosts";

const posts = await getCollection("posts");
---

<BaseLayout>
  <section>
    <Header>All Posts</Header>
    <ListPosts {posts} />
  </section>
</BaseLayout>
