---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/Base";
import ListPosts from "@/components/ListPosts";

const posts = await getCollection("posts");
---

<BaseLayout title="All Posts">
  <section>
    <h1>All Posts</h1>
    <ListPosts {posts} />
  </section>
</BaseLayout>
