---
import BaseLayout from "@/layouts/Base";
---

<BaseLayout class="h-[60dvh]" title="404">
  <section class="text-center place-self-center">
    <h1 class="text-xl">404</h1>
    <p>Page not found.</p>
    <a href="/" class="link">Go home</a>
  </section>
</BaseLayout>
