---
import BaseLayout from "@/layouts/Base";
import Header from "@/components/Header";
---

<BaseLayout class="h-[60dvh]" title="404">
  <section class="text-center place-self-center">
    <Header>404</Header>
    <p>Page not found.</p>
    <a href="/" class="link">Go home</a>
  </section>
</BaseLayout>
