---
import FormatDate from "./FormatDate.astro";

export interface Props {
  date?: Date;
  class?: string;
}

const { date, class: className } = Astro.props;
---

<div class="space-y-1">
  {
    date && (
      <p class="text-sm">
        <FormatDate {date} />
      </p>
    )
  }
  <h1 class:list={["text-lg", className]}><slot /></h1>
</div>
