---
import type { CollectionEntry } from "astro:content";

import FormatDate from "./FormatDate.astro";
import { sortPostsByDate } from "@/utils";

export interface Props {
  posts: CollectionEntry<"posts">[];
  limit?: number;
}

const { posts, limit } = Astro.props;

let sortedPosts = sortPostsByDate(posts);

if (limit !== undefined) {
  sortedPosts = sortedPosts.slice(0, limit);
}
---

<ul class="space-y-2">
  {
    sortedPosts.map((p) => (
      <li>
        <span class="grid grid-flow-col auto-cols-max gap-x-6 items-center">
          <div class="w-32">
            <FormatDate date={p.data.date} />
          </div>

          <a href={`/posts/${p.slug}`} class="link">
            {p.data.title}
          </a>
        </span>
      </li>
    ))
  }
</ul>
