<header class="pb-10">
  <nav>
    <ul class="flex gap-4 text-base">
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/posts" class="link">Posts</a></li>
    </ul>
  </nav>
</header>
