---
import "@fontsource-variable/inter";
import "@/styles/global.css";
import Navbar from "@/components/Navbar";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  class?: string;
  title?: string;
}

const { class: className, title = "Aayush" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="py-16 px-8 mx-auto max-w-3xl">
    <Navbar />
    <main id="main" class:list={["grid gap-y-10", className]}>
      <slot />
    </main>
  </body>
</html>
